/*------------- #MAIN-HEADER --------------*/


.main-header {
  padding: 70px 0 190px 0;
  position: relative;
  background-position: 50% 50%;

  .content-bg {

    @keyframes sideupscroll {
      0% {
        transform: translate3D(0%, 0%, 0);
      }
      50% {
        transform: translate3D(-50%,  0, 0);
      }
      100% {
        transform: translate3D(-100%, 0, 0);
      }
    }
  }
}

.img-bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 100%;
}

.bg-account {
  &:before {
    background-image: url("../img/top-header3.png");
  }
}

.bg-birthday {
  &:before {
    background-image: url("../img/top-header6.png");
  }
}

.bg-badges {
  &:before {
    background-image: url("../img/top-header4.png");
  }
}

.bg-events {
  &:before {
    background-image: url("../img/top-header5.png");
  }
}

.bg-weather {
  &:before {
    background-image: url("../img/top-header6.png");
  }
}

.bg-group {
  &:before {
    background-image: url("../img/bg-group.png");
  }
}

.bg-music {
  &:before {
    background-image: url("../img/top-header7.png");
  }
}

.bg-landing {
  &:before {
    background-image: url("../img/landing-bg.jpg");
  }

}

.main-header-content {
  color: $white-color;
  text-align: center;

  & > * {
	color: inherit;
  }

  & > *:first-child {
	font-weight: 300;
	margin-bottom: 20px;
  }

  p {
	font-weight: 400;
	margin-bottom: 0;
  }
}


@media (max-width: 768px) {
  .main-header {
    max-width: 100%;
  }
}
