<template>
<div>

<a href="#" @click.prevent="getComments" class="more-comments">Ver mas comentarios<span>+</span></a>
<div class="mCustomScrollbar">
  <ul class="comments-list">
    <comment :comment="comment" v-for="comment in comments" :key="comment.id"></comment>
  </ul>
</div>

<form class="comment-form inline-items" @submit.prevent="createComment">

  <div class="post__author author vcard inline-items">
    <img src="/img/author-page.jpg" alt="author">

    <div class="form-group with-icon-right ">
      <textarea v-model="text" class="form-control" placeholder="" required></textarea>
      <div class="add-options-message">
        <a href="#" class="options-message" data-toggle="modal" data-target="#update-header-photo">
          <svg class="olymp-camera-icon">
            <use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-md-2 btn-primary">Publicar comentario</button>

</form>
</div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'comments',
  props: ['id'],
  data: () => ({
    text: '',
    comments: []
  }),
  methods: {
    getComments() {
      let postId = this.id
      axios.get(`/blog/posts/${postId}/comments`)
      .then(({data}) => this.comments = data.data)
    },
    createComment() {
      let postId = this.id
      axios.post(`/blog/posts/${postId}/comments`, {
        text: this.text
      })
      .then(r => {
        this.getComments()
        this.text = ''
        })
    }
  }
}
</script>

<style>

</style>
