<template>
<li class="comment-item">
  <div class="post__author author vcard inline-items">
    <img :src="comment.commented.profile_picture" alt="author">

    <div class="author-date">
      <a class="h6 post__author-name fn" href="#">{{ comment.commented.name }}</a>
      <div class="post__date">
        <time class="published" datetime="2017-03-24T18:18">
          5 mins ago
        </time>
      </div>
    </div>

    <a href="#" class="more">
      <svg class="olymp-three-dots-icon">
        <use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
      </svg>
    </a>

  </div>

  <p v-text="comment.comment"></p>

  <!-- <a href="#" class="post-add-icon inline-items">
    <svg class="olymp-heart-icon">
      <use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
    </svg>
    <span>0</span>
  </a> -->
  <likes :id="comment.id" :count="comment.likes_count" type="comments"></likes>
  <!-- <a href="#" class="reply">Reply</a> -->
</li>
</template>

<script>
export default {
  name: 'comment',
  props: ['comment']
}
</script>

<style>

</style>
