<template>
	<div class="row text-center">
		<div class="col">
			<div class="row">
				<div class="col">
					<label>Nombre:</label>
					<div class="form-group label-floating">
						<label class="control-label">Nombre</label>
						<input class="form-control" type="text" name="pj-name" v-model="name" @change="ErrorInName" :class="{ 'is-invalid': errorname }">
						<div v-if="errorname" class="invalid-feedback">El nombre ingresado es invalido porfavor usa otro</div>
					</div>
				</div>
				<div class="col">
					<label>Apellido:</label>
					<div class="form-group label-floating">
						<label class="control-label">Apellido</label>
						<input class="form-control" type="text" name="pj-lname" v-model="lname" @change="ErrorInLastName" :class="{ 'is-invalid': errorlname }">
						<div v-if="errorlname" class="invalid-feedback">El apellido ingresado es invalido porfavor usa otro</div>
					</div>
				</div>
			</div>
			<div class="row mt-2">
				<div class="col">
					<label>Edad:</label>
					<div class="form-group label-floating">
						<label class="control-label">Edad</label>
						<input class="form-control" type="number" name="pj-name" v-model="age" @change="ErrorInAge" :class="{ 'is-invalid': errorage }">
						<div v-if="errorage" class="invalid-feedback">La edad ingresada es invalida</div>
					</div>
				</div>
			</div>
		</div>
		<div class="m-auto">
			<img class="img-fluid img-thumbnail" src="https://static.up-cdn.com/roleplay/mapa/images/skins/20.jpg" alt="skin 0">
			<button type="submit" class="btn btn-secondary form-control mt-2">Crear personaje</button>
		</div>
	</div>
</template>

<script>
    export default {
				name: 'form-addcharacter',
        mounted() {
            console.log('Componente de añadir personaje reactivo, añadido.')
        },
        data () {
    		return {
	        	name: '',
	        	errorname: false,
	        	lname: '',
	        	errorlname: false,
	        	age: '',
	        	errorage: false
	        }
	    },
	    methods: {
	    	ErrorInName: function()
	    	{
	    		if(this.name.length < 3 || this.name.length > 10 || this.LetrasNoPermitidas(this.name)) this.errorname = true;
	    		else this.errorname = false;
	    		return this.errorname;
	    	},
	    	ErrorInLastName: function()
	    	{
	    		if(this.lname.length < 3 || this.lname.length > 10 || this.LetrasNoPermitidas(this.lname)) this.errorlname = true;
	    		else this.errorlname = false;
	    		return this.errorlname;
	    	},
	    	ErrorInAge: function()
	    	{
	    		if(this.age < 18 || this.age > 80 || this.NoNumeros(this.age)) this.errorage = true;
	    		else this.errorage = false;
	    		return this.errorage;
	    	},
	    	LetrasNoPermitidas: function(texto)
	    	{
	    		var letras="abcdefghijklmnopqrstuvwxyz", i;
				texto = texto.toLowerCase();
				for(i=0; i<texto.length; i++){
					if (letras.indexOf(texto.charAt(i),0) == -1) {
						return 1;
					}
				}
				return 0;
			},
	    	NoNumeros: function(texto)
	    	{
				var numeros="0123456789", i;
				for(i=0; i<texto.length; i++){
					if (numeros.indexOf(texto.charAt(i),0) == -1){
						return 1;
					}
				}
				return 0;
	    	}
	    }
    }
</script>