<template>
<div class="control-icon more has-items">
  <svg class="olymp-happy-face-icon"><use xlink:href="/rainbow/icons/icons.svg#olymp-happy-face-icon"></use></svg>
  <div class="label-avatar bg-blue">{{ unreadNotifications.length }}</div>

  <div class="more-dropdown more-with-triangle triangle-top-center">
    <div class="ui-block-title ui-block-title-small">
      <h6 class="title">Solicitudes de amistad</h6>
      <a href="#">Encuentra amigos</a>
      <a href="#">Ajustes</a>
    </div>

    <div class="mCustomScrollbar" data-mcs-theme="dark">
      <ul class="notification-list friend-requests">
        <li v-if="!unreadNotifications.length">
          <div class="notification-event">
            <a href="#" class="h6 notification-friend">No hay solicitudes de amistad entrante</a>
          </div>
        </li>
        <li v-for="unread in unreadNotifications" :key="unread.id">
          <div class="notification-event">
            <a href="#" class="h6 notification-friend">{{ unread.data.name }}</a>
            <span class="chat-message-item">quiere ser tu amigo</span>
          </div>
          <span class="notification-icon">
            <a @click.prevent="acceptFriendRequest(unread.data.userId, unread.id)" href="#" class="accept-request">
              <span class="icon-add without-text">
                <svg class="olymp-happy-face-icon"><use xlink:href="/rainbow/icons/icons.svg#olymp-happy-face-icon"></use></svg>
              </span>
            </a>

            <a @click.prevent="denyFriendRequest(unread.data.userId, unread.id)" href="#" class="accept-request request-del">
              <span class="icon-minus">
                <svg class="olymp-happy-face-icon"><use xlink:href="/rainbow/icons/icons.svg#olymp-happy-face-icon"></use></svg>
              </span>
            </a>

          </span>

          <div class="more">
            <svg class="olymp-three-dots-icon"><use xlink:href="/rainbow/icons/icons.svg#olymp-three-dots-icon"></use></svg>
          </div>
        </li>
      </ul>
    </div>

    <a href="#" class="view-all bg-blue">Comprueba tus eventos</a>
  </div>
</div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'friendships',
  props: ['unreads', 'userId'],
  data(){
    return {
        unreadNotifications: this.unreads
    }
  },
  mounted() {
    Echo.private('App.User.' + this.userId)
    .notification((notification) => {
      console.log(notification)
      let noti = {id: notification.id, data: {name: notification.name, userId: notification.userId}};
      this.unreadNotifications.unshift(noti);
    });
  },
  methods: {
    acceptFriendRequest(userId, notiId) {
      axios.post(`/friendships/${userId}/accept`, {
        notiId
      }).then(response => this.removeNotification(notiId))
    },
    denyFriendRequest(userId, notiId) {
      axios.post(`/friendships/${userId}/deny`, {
        notiId
      }).then(response => this.removeNotification(notiId))
    },
    removeNotification(id) {
      this.unreadNotifications = this.unreadNotifications.filter(noti => noti.id !== id)
    }
  }
}
</script>

<style>

</style>
