<template>
  <a @click.prevent="likeToggle" href="#" class="post-add-icon inline-items" :class="{'active': likes.liked}">
    <svg class="olymp-heart-icon">
      <use xlink:href="/svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
    </svg>
    <span v-text="likes.likes"></span>
  </a>
</template>

<script>
import axios from 'axios'

export default {
  name: 'likes',
  props: ['id', 'type', 'count'],
  data: () => ({
    likes: {
      likes: 0,
      liked: false
    }
  }),
  methods: {
    getLikes() {
      if (this.type == 'comments') {
        this.likes = {
          likes: this.count,
          liked: !!this.count
        }
      } else {
        axios.get(`/blog/${this.type}/${this.id}/likescount`)
        .then(({data}) => this.likes = data)
      }
      
    },
    likeToggle() {
      axios.get(`/blog/${this.type}/${this.id}/togglelike`)
      .then(({data}) => this.likes = data)
    }
  },
  created() {
    this.getLikes()
  }
}
</script>

<style scoped>
  .active {
    color: #ff5e3a;
    fill: #ff5e3a;
  }
</style>
